<!--
  Generated template for the CartPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar color="danger">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div class="item-note" item-left>
        <ion-icon name="cart"></ion-icon> Einkaufswagen
      </div>
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
  <ion-refresher (ionRefresh)="doRefresh($event)">
    <ion-refresher-content>
      pullingIcon="arrow-dropdown"
      pullingText="Zum Aktualisieren nach unten ziehen..."
      refreshingSpinner="circles"
      refreshingText="Aktualisieren...">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-item text-wrap ion-item *ngFor="let item of cartController.cartItems; let i = index">
      <div class="item-note" item-left>
        {{item.number}}
      </div>
      <div class="item-note">
        <p><span style="color: #f53d3d">{{item.name}}</span>
      </div>
      <div class="item-note" item-right>
        <button default ion-button icon-end color="danger" (click)="removeItem(i)">
          {{item.price.toFixed(2)}}€ <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item text-wrap *ngIf="cartController.cartItems.length > 1">
      <div class="item-note" item-right>
        <button default ion-button icon-end color="danger" (click)="removeAllItems()">
          Alle Einträge löschen <ion-icon name="close-circle"></ion-icon>
        </button>
      </div>
    </ion-item>
    <ion-item text-wrap color="dark">
      <div class="item-note" item-left>
        Gesamt
      </div>
      <div class="item-note" item-right>
        {{getCartCost().toFixed(2)}}€
        <ion-icon icon-only name="pricetag"></ion-icon>
      </div>
    </ion-item>
    <ion-item text-wrap color="dark_green" *ngIf="getCartCost() >= 8">
      <div class="item-note" item-right><ion-icon name="call"></ion-icon></div>
      <div class="item-note" item-right>
        <p>Mindestbestellwert von mindestens 8€ erreicht.</p>
        <p><i>Mindestbestellwert nach Staaken beträgt 12€!</i></p>
        <p>Rufen Sie uns an, um zu bestellen!</p>
        <p>Tel.: 030/3751421</p>
      </div>
    </ion-item>
    <ion-item text-wrap color="danger" *ngIf="getCartCost() < 8">
      <div class="item-note" item-right><ion-icon name="information-circle"></ion-icon></div>
      <div class="item-note" item-right>
        <p>Mindestbestellwert von mindestens 8€ (12€ nach Staaken) nicht erreicht.</p>
      </div>
    </ion-item>
  </ion-list>
</ion-content>
